<!DOCTYPE html>
<html lang="en" ng-app="monApplication">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

</head>
<body ng-controller="monControleur">

	<form>
		<input type="text" ng-model="viewTodo" ng-click="adding()">
		<button ng-click="adding()">click to Add !</button>
	</form>
	<ul>
		<li ng-repeat="todo in todos">
		{{todo.doing}}
		</li>
	</ul>

<script src="script.js"></script>
</body>